.modal {
    min-width: 300px;
    max-width: 600px;
    background-color: var(--hsl-c5);

    &--body {
        &-title {
            padding: 5px;
            background-color: var(--hsl-c4);
            display: flex;
            justify-content: center;
        }

        &-content {
            margin-top: 5px;
            padding: 5px;
            display: flex;
            justify-content: center;

        }

        &-buttons {
            margin: 25px 0 0 0;
            padding: 0 10px 5px 0;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            justify-self: flex-end;
            gap: 12px;
        }

        &-button {
            border: none;
            outline: none;
            font: inherit;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            gap: 12px;
            height: 28px;
            align-items: center;
            padding: 8px 12px;
            font-size: 14px;
            font-weight: 500;
            color: var(--hsl-l2);
            border-radius: 1000px;

            $buttonAccent: (100%, 75%);

            &-primary {
                color: var(--hsl-c6);
                background-color: hsl(var(--base-hue), #{nth($buttonAccent, 1)}, #{nth($buttonAccent, 2)});
            }

            &-success {
                color: var(--hsl-c6);
                background-color: hsl(calc(var(--base-hue) - 80), #{nth($buttonAccent, 1)}, #{nth($buttonAccent, 2)});
            }

            &-danger {
                color: var(--hsl-c6);
                background-color: hsl(calc(var(--base-hue) - 195), #{nth($buttonAccent, 1)}, #{nth($buttonAccent, 2)});
            }

            &-warning {
                color: var(--hsl-c6);
                background-color: hsl(calc(var(--base-hue) - 150), #{nth($buttonAccent, 1)}, #{nth($buttonAccent, 2)});
            }
        }
    }

    &--background {
        background-color: rgba(0, 0, 0, 0.275);

        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        
        position: fixed;
        align-items: center;
        justify-content: center;
        z-index: 10000; // thanks nora
    }


}