.pagination {
    display: flex;
    flex-direction: row;
    gap: 4px;

    button {
        border: none;
        background-color: transparent;
        min-width: 32px;
        height: 32px;
        padding: 0 8px;
        border-radius: var(--corner-radius);
        font: inherit;
        color: var(--hsl-l2);
        cursor: pointer;

        &:disabled {
            color: hsl(var(--base-hue), 20%, 40%);
            cursor: default;

            &:hover {
                background-color: transparent !important;
            }
        }

        &:hover {
            background-color: var(--hsl-d4);
        }
    }
}

.active {
    background-color: var(--hsl-l6) !important;
}