:root {
    $base-colours: (
        accent: (100%, 50%),
        links: (100%, 75%),

        l1: (50%, 100%),
        l2: (50%, 90%),
        l3: (50%, 80%),
        l4: (50%, 70%),
        l5: (50%, 60%),
        l6: (50%, 50%),
        
        d1: (25%, 40%),
        d2: (25%, 30%),
        d3: (25%, 25%),
        d4: (25%, 15%),
        d5: (25%, 10%),
        d6: (25%, 5%),
        
        c1: (15%, 30%),
        c2: (15%, 25%),
        c3: (15%, 20%),
        c4: (15%, 15%),
        c5: (15%, 10%),
        c6: (15%, 5%),
    );

    @each $name, $value in $base-colours {
        --hsl-#{$name}: hsl(var(--base-hue), #{nth($value, 1)}, #{nth($value, 2)});
    }
}