.chart_modding {
    display: flex;
    flex-direction: column;
    margin-top: 16px;

    &--data {
        display: flex;
        flex-direction: column;

        &-name {
            color: var(--hsl-l1);
            margin-bottom: 16px;
        }

        &-strain {
            width: 100%;
            height: 12px;
            background-color: var(--hsl-c4);
            border-radius: 100px;
            margin-bottom: 4px;

            // todo
        }

        &-mods {
            position: relative;
            width: 100%;
            height: 12px;
            background-color: hsl(var(--base-hue), 15%, 7%);
            border-radius: 100px;
            margin-bottom: 8px;

            &-bar {
                position: absolute;
                top: 0;
                width: 3px;
                height: 100%;
                border-radius: 100px;
                background-color: var(--col);

                &[data-type="notes"] {
                    --col: hsl(255, 100%, 60%);
                }

                &[data-type="suggestions"] {
                    --col: hsl(195, 100%, 60%);
                }

                &[data-type="comments"] {
                    --col: hsl(0, 0%, 60%);
                }

                &[data-type="problems"] {
                    --col: hsl(345, 100%, 60%);
                }

                &[data-type="praises"] {
                    --col: hsl(140, 100%, 60%);
                }

                &::before {
                    content: "";
                    position: absolute;
                    bottom: -8px;
                    left: 50%;
                    width: 4px;
                    height: 4px;
                    border-radius: 100px;
                    background-color: var(--col);

                    // weird centering is weird
                    transform: translateX(-50%);
                }
            }
        }
    }

    &--info {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-top: 16px;

        &-table {
            display: block;
            flex: 1;
            border-collapse: collapse;
            table-layout: fixed;

            &-divisor {
                height: 24px;
            }

            tr {
                font-family: var(--font-base);

                td {
                    word-wrap: break-word;
                    padding-bottom: 4px;
                }

                td:first-child {
                    color: var(--hsl-c1);
                    font-size: 14px;
                    padding-right: 32px;
                }

                td:last-child {
                    font-size: 14px;

                    color: var(--hsl-l2);

                    a {
                        color: var(--hsl-links);
                    }
                }
            }
        }

        &-users {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 12px;

            &-charters,
            &-modders {
                display: flex;
                flex-direction: column;
                gap: 8px;

                h1 {
                    color: var(--hsl-c1);
                }

                &-list {
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
                    grid-gap: 16px;
                }
            }
        }

        &-mods {
            display: block;
            border-collapse: collapse;
            table-layout: fixed;

            tr {
                font-family: var(--font-base);

                td {
                    word-wrap: break-word;
                    padding-bottom: 12px;
                }

                td:first-child {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-right: 8px;
                }

                td:nth-child(2) {
                    color: var(--hsl-l2);
                    font-size: 14px;
                    padding-right: 64px;
                }

                td:last-child {
                    font-size: 14px;
                    color: var(--hsl-l3);

                    a {
                        color: var(--hsl-links);
                    }
                }
            }
        }
    }
}