.account_flyout {
    position: relative;
    display: inline-block;
    z-index: 10000;
    min-width: 272px;
    overflow: hidden;
    border-radius: var(--corner-radius);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 0px 6px 0px rgba(0, 0, 0, 0.02);
    background-color: var(--hsl-c4);

    &--hoverable {
        width: min-content;
    }
}