.content {
    display: flex;
    flex-direction: row;
    gap: 6px;
    padding: 8px 40px;
    background-color: var(--hsl-c4);
    border-radius: var(--corner-radius);
    font-size: 14px;

    a {
        color: var(--hsl-links);
    }

    h1 {
        color: var(--hsl-l1);
    }
}